{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/CSS/inscription.css">
{% endblock %}

{% block javascripts %}
    <script src="/assets/JS/oeilMDP.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div class="container">

    <h1>Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.email,{
            label:' ',
            placeholder:'mail'
        }) }}

        {{ form_row(registrationForm.plainPassword, {
            label: ' '
        }) }}

        <button type="submit" class="btnConnexion">S'inscrire</button>
</div>
    {{ form_end(registrationForm) }}
{% endblock %}
